body {
    font-family: 'Times New Roman', Times, serif;
    background-color: cornsilk;
    margin:auto;
    padding:20px;
}
h1 { 
     font-size:xx-large; 
     top:0;
     width:100%;
 } 
 nav {
    height:20px;
    color:black;
    width:90%;
    display:flex;
    margin-left: 40px;
    justify-content: space-around;
    font-size: 15px;
 }
 a {
    background-color:khaki;
    width:max-content;
 }
 .content {
    display:flex;
    align-items:center;
    justify-content: space-around;
    border: 1px dotted black;
 }
 img{
    width:300px;
    height:200px;
 }
 .post {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
 }
 .post p {
    width:280px;
 }
 footer {
    font-weight: 900;
    font-size:larger;
 }
 
