.section{
    background: darkgoldenrod url(../fort\ warangal.jpeg) no-repeat center;
    p{
        color: darkslategrey;
    }
    h3{
        font-size: 40px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 800;
        font-style: italic;
        line-height: 1.5em;
        text-shadow: 1 0 5px blue;

    }
    border:2px solid black;
    border-radius: 12px;
    margin:10px 20px 30px 40px;
    padding:10px 20px 30px 40px;
    

}
