*{
    font-family: 'Times New Roman', Times, serif;
}
.places{
    h1{
        color:maroon;
        font-size:x-large;
        font-weight: 800;
    }
    h2{
        font-size: medium;
        line-height: 1.5em;
        color:brown
    }
    p{
        color:rgb(36, 4, 4);
    }
   border:2px solid black;
   border-radius:15px;
   margin:10px 10px 10px 10px;
   padding:10px 10px 10px 10px; 

}
body{
    background-color:darkgrey;
}