
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div{
    height:150px;
    width:150px;
    border:1px solid black;
    box-sizing: border-box;
    border-color: blue;
    background-color: aqua;
}   
